/* I need to: 
1- Make the whole thing responsive
2- Do the box shadow for the second navbar
*/

.First-nav {
  display: flex;
  background-color: #01b2ee;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}

.dropdown-nav-link {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* To control the height of dropdown lists */
.navbar-nav .nav-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 45px;
}

/* To control first nav's icons color */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark:hover .navbar-nav:hover .nav-link :hover {
  color: rgba(255, 255, 255, 1);
}

.nav-link {
  height: 2.25rem;
}

.navbar {
  padding: 0.25rem 1rem;
}

.dropdown-title {
  font-size: 15px;
  margin: 0;
}

.container {
  padding: 0;
}

.brand {
  font-weight: 900;
  font-size: 1.75rem;
  margin-right: 0;
}

.brand-container {
  width: fit-content;
}

/* To get rid of the built-in arrow */
.dropdown-toggle::after {
  border: 0;
}

.second-brand {
  border-left: 1px solid #fff;
  width: fit-content;
  padding-left: 0.5rem;
}

.Second-nav {
  width: stretch;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  /* Must figure out how box shadowing works */
  box-shadow: 0 2px 2px -2px #4f5864;
}

.Search-bar {
  width: stretch;
  align-content: center;
  justify-self: flex-end;
}

.search-icon {
  font-size: 1.5rem;
  color: #4f5864;
}

.all-sans-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-category {
  font-size: 15px;
}

.dropdown-last-option {
  color: #01b2ee;
  font-weight: 500;
}

.second-nav-links {
  color: #4f5864;
  font-weight: 500;
}

.second-nav-links:hover {
  color: #01b2ee;
  transition: all .15s ease-in-out;
}

.all-sans-input-group {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* I need to get rid of this and replace it with "width: stretch" */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: inherit;
  }
}

@media (max-width: 1024px) {
}
