/* I need to: 
1- Make the whole thing responsive
2- stretch the navbar to reach the end of the page
3- Do the box shadow for the second navbar
*/

.First-nav{
    display: flex;
    background-color: #01b2ee;
    align-items: center;
    font-size: 30px;
}

.dropdown-nav-link{
    display: flex;
    height: fit-content;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* To control the height of dropdown lists */
.navbar-nav .nav-link{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    align-content: center;
    height: 45px;
}

.navbar{
    padding: 0;
}

.dropdown-title{
    font-size: 15px;
}

.container{
    padding: 3.5px;

}

.brand{
    font-weight: 900;
    font-size: 1.5rem;
}

.brand-container{
    width: fit-content;
}

/* To get rid of the built-in arrow */
.dropdown-toggle::after{
    border: 0;
}

.second-brand{
    border-left: 1px solid #fff;
    width: fit-content;
}

.Second-nav{
    flex-direction: row;
    padding: 10px;
    /* Must figure out how box shadowing works */
}

.Search-bar{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.search-icon{
    color: grey;
}

.all-sans-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 1024px) {}