/* I need to: 
1- get rid of the extra space created by dropdown lists
2- stretch the navbar to reach the end of the page
3- Do the box shadow for the second navbar
4- Make the whole thing responsive
*/

.First-nav{
    display: flex;
    background-color: #01b2ee;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.dropdown-nav-link{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.dropdown-title{
    font-size: 15px;
}

.container{
    padding: 7.5px;
    width:auto;
    margin: 0;
}

.brand{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
}

.brand-container{
    width: fit-content;
}

.dropdown-toggle::after{
    border: 0;
}

.second-brand{
    border-left: 1px solid #fff;
    width: fit-content;
    padding: 0 0 0 15px;
}

.Second-nav{
    flex-direction: row;
    padding: 10px;
    /* Must figure out how box shadowing works */
}

.Search-bar{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.search-icon{
    color: grey;
}

@media (max-width: 1024px) {}