body {
  font-family: "work-sans", sans-serif;
  font-size: 15px;
  background-color: #f4f7fb;
}

.banner {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px 20px;
}

.banner-image {
  max-width: 96.5vw;
}

.announcement {
  padding-top: 20px;
}

.update {
  font-weight: 700;
}

.initial-display {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  column-gap: 1rem;
  padding: 0 1rem 1rem;
}

.sidebar {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-title{
  font-size: 1.5rem;
  color: #01b2ee;
  font-weight: 600;
  background-color: white;
  padding: 1rem;
}

.sidebar-categories{
  background-color: white;
  padding: 1rem;
}

.side-categories{
  gap: 1rem;
}

.side-category{
  font-weight: 500;
}

.subscribe {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
}

.order-to-subscribe{
  font-size: 1.25rem;
  font-weight: 700;
  color: #01b2ee;
}

@media (max-width: 1160px) {
  .sidebar {
    display: none;
  }
  .initial-display {
    grid-template-columns: 1fr 1fr;
  }
  .subscribe {
    flex-direction: column;
    gap: 1rem;
  }
  .Newsletter {
    width: fit-content;
  }
}

@media (max-width: 648px) {
  .initial-display {
    grid-template-columns: 1fr;
  }
}
